@media screen and (max-width: 1873px) {
  .pages .block-page-container .content-block {
    padding: 158px 15px 0; }
    .pages .block-page-container .content-block .content .img-block {
      justify-content: space-evenly; }
  .pages .block-page-container .right-sidebar {
    max-width: 280px; } }

@media screen and (max-width: 1820px) {
  .pages .block-page-container .left-sidebar ul {
    padding: 0 15px 0 25px; } }

@media screen and (max-width: 1675px) {
  .pages .block-page-container {
    flex-wrap: wrap; }
    .pages .block-page-container .right-sidebar {
      max-width: inherit;
      float: none;
      display: flex;
      flex-wrap: wrap;
      padding-left: 365px;
      padding-top: 15px; }
      .pages .block-page-container .right-sidebar .title {
        width: 100%; }
      .pages .block-page-container .right-sidebar .cell {
        max-width: 230px;
        margin-right: 15px; } }

@media screen and (max-width: 1580px) {
  .pages .main-content .group {
    left: 0; } }

@media screen and (max-width: 1459px) {
  .pages .menu {
    margin: auto; }
  .pages .block-page-container .left-sidebar {
    max-width: 285px; }
  .pages .block-page-container .content-block {
    margin-left: 295px; } }

@media screen and (max-width: 1447px) {
  .pages .page-contacts .map-content .contacts .copiright {
    position: relative;
    padding-top: 30px; } }

@media screen and (max-width: 1446px) {
  .pages .page-contacts .map-content .map {
    height: 100vh; }
  .pages .page-contacts .map-content .contacts {
    position: relative;
    width: 100%;
    padding: 15px; } }

@media screen and (min-width: 1356px) and (max-width: 1429px) {
  .pages .block-page-container .left-sidebar {
    padding-top: 25px; }
  .pages .block-page-container .content-block {
    padding: 205px 15px 0; } }

@media screen and (min-width: 768px) and (max-width: 1355px) {
  .pages .page-projects > .main-content {
    padding-top: 160px !important; } }

@media screen and (max-width: 1355px) {
  .pages header .breadcrumd {
    background-color: #fff; }
  .pages header .search-block {
    background-color: #fff;
    padding: 0 25px 5px;
    box-shadow: 0 11px 25px 0 white; }
  .pages .block-page-container .left-sidebar-container .left-sidebar-button {
    left: 0;
    top: 34%;
    position: fixed;
    background-color: #FF9600;
    height: 36px;
    width: 26px;
    border-radius: 0 5px 5px 0;
    box-shadow: -7px 4px 6px 0 rgba(0, 0, 0, 0.24);
    cursor: pointer;
    z-index: 1031;
    transform-origin: right;
    transition: 0.46s;
    display: table; }
    .pages .block-page-container .left-sidebar-container .left-sidebar-button .glyphicon {
      display: table-cell;
      vertical-align: middle;
      font-size: 23px;
      color: #810C74;
      transition: 0.5s; }
  .pages .block-page-container .left-sidebar-container .left-sidebar {
    top: 0px;
    float: none;
    right: 100%;
    background-color: #fff;
    z-index: 1031;
    box-shadow: 0 0 15px 0;
    margin-top: 0;
    transition: 0.5s;
    left: -295px; }
  .pages .block-page-container .content-block {
    padding: 250px 25px 0;
    margin-left: 0;
    max-width: 100%; }
  .pages .block-page-container .right-sidebar {
    margin-left: 0;
    padding: 0 25px 0; }
  .pages .block-page-container [id='toggle-left-menu']:checked ~ .left-sidebar {
    left: 0; }
  .pages .block-page-container [id='toggle-left-menu']:checked ~ .left-sidebar-button {
    top: 50px;
    left: 285px;
    transition: 0.5s; }
    .pages .block-page-container [id='toggle-left-menu']:checked ~ .left-sidebar-button .glyphicon {
      transform: rotateY(180deg); }
  .pages .left-sidebar-button .icon-bar {
    width: 28px;
    transition: all 0.2s;
    margin: auto; }
  .pages [id='toggle-left-menu']:checked ~ .left-sidebar-button .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%; }
  .pages [id='toggle-left-menu']:checked ~ .left-sidebar-button .middle-bar {
    opacity: 0; }
  .pages [id='toggle-left-menu']:checked ~ .left-sidebar-button .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%; }
  .pages .left-sidebar-button .top-bar {
    transform: rotate(0); }
  .pages .left-sidebar-button .middle-bar {
    opacity: 1; }
  .pages .left-sidebar-button .bottom-bar {
    transform: rotate(0); }
  .pages .left-sidebar-button .icon-bar {
    background-color: #810C74;
    display: block;
    height: 2px;
    margin: auto;
    margin-bottom: 6px;
    position: relative;
    top: 8px; }
  .pages [id='toggle-left-menu']:checked ~ .left-sidebar-button .icon-bar {
    left: 3px; }
  .pages .left-sidebar-button .icon-bar {
    width: 28px;
    transition: all 0.3s; }
  .pages .left-sidebar-button .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%; }
  .pages .left-sidebar-button .middle-bar {
    opacity: 0; }
  .pages .left-sidebar-button .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%; }
  .pages .left-sidebar-button .top-bar {
    transform: rotate(0); }
  .pages .left-sidebar-button .middle-bar {
    opacity: 1; }
  .pages .left-sidebar-button .bottom-bar {
    transform: rotate(0); } }

@media screen and (min-width: 1023px) and (max-width: 1079px) {
  .pages .page-technology .content-block .img-block .image {
    width: 525px; } }

@media screen and (max-width: 1023px) {
  .pages .block-page-container .content-block .content {
    padding: 15px 0 15px 0px; } }

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .pages .page-technology .content-block .img-block .image {
    width: 350px; }
  .pages .page-technology .content-block .img-block .image-group {
    max-width: 317px; }
    .pages .page-technology .content-block .img-block .image-group .image {
      width: 100%; }
    .pages .page-technology .content-block .img-block .image-group .image-undergroup .image {
      width: 49%; } }

@media screen and (max-width: 768px) {
  .pages header {
    position: relative !important; }
    .pages header .menu {
      width: 100%; }
      .pages header .menu .custom-caret {
        float: right; }
  .pages .main-content .group {
    max-width: inherit; }
  .pages .block-page-container .left-sidebar {
    bottom: 0; }
  .pages .block-page-container .content-block {
    padding: 45px 25px 0; }
  .pages .block-page-container .right-sidebar .cell {
    margin: 15px auto; }
  .pages .page-projects > .title {
    padding-top: 0px !important; }
  .pages .footer {
    position: relative !important; } }

@media screen and (width: 768px) {
  .pages .block-page-container .left-sidebar-container .left-sidebar-button {
    top: 41%; } }

@media screen and (max-width: 767px) {
  .pages .navbar-header {
    width: 100%;
    padding-bottom: 15px; }
    .pages .navbar-header .logo {
      float: left; }
  .pages .bottom-menu .navbar-nav {
    margin: 7.5px 0; }
  .pages .page-technology .content-block .img-block .image-group .image {
    height: 263px; }
  .pages .page-technology .content-block .img-block .image-group .image-undergroup .image {
    height: 134px; } }

@media screen and (min-width: 608px) and (max-width: 990px) {
  .pages .page-questions .content-block .content .img-block .image {
    margin-bottom: 15px; } }

@media screen and (min-width: 608px) and (max-width: 767px) {
  .pages .page-technology .content-block .image {
    margin-bottom: 15px; }
  .pages .page-technology .content-block .img-block .image {
    width: 600px; }
  .pages .page-technology .content-block .img-block .image-group {
    width: 600px; }
    .pages .page-technology .content-block .img-block .image-group .image-undergroup {
      flex-direction: column; }
      .pages .page-technology .content-block .img-block .image-group .image-undergroup .image {
        height: 125px; }
  .pages .page-technology .content-block .img-block .image-group {
    flex-direction: row; } }

@media screen and (max-width: 607px) {
  .pages .block-page-container .content-block .content .img-block {
    max-width: 370px;
    margin: auto; }
    .pages .block-page-container .content-block .content .img-block .image {
      margin-bottom: 15px; } }

@media screen and (min-width: 450px) and (max-width: 764px) {
  .pages .block-page-container .left-sidebar-container .left-sidebar-button {
    top: 36%; } }

@media screen and (max-width: 400px) {
  .pages .main-content .group {
    justify-content: center; }
  .pages .block-page-container .left-sidebar-container .left-sidebar-button {
    top: 23%; } }

@media screen and (max-width: 340px) {
  .pages [id='toggle-left-menu']:checked ~ .left-sidebar {
    left: -15px !important; }
  .pages [id='toggle-left-menu']:checked ~ .left-sidebar-button {
    left: 270px !important; } }
