@charset "UTF-8";
/* font-family: "IntroRustG"; */
@font-face {
  font-family: "IntroRustG";
  src: url("../fonts/IntroRustG-Base.otf");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProItalic"; */
@font-face {
  font-family: "GothamProItalic";
  src: url("../fonts/GothamProItalic.ttf");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProLightItalic"; */
@font-face {
  font-family: "GothamProLightItalic";
  src: url("../fonts/GothamProLightItalic.ttf");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProRegular"; */
@font-face {
  font-family: "GothamProRegular";
  src: url("../fonts/GothamProRegular.ttf");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProMediumItalic"; */
@font-face {
  font-family: "GothamProMediumItalic";
  src: url("../fonts/GothamProMediumItalic.ttf");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProBold"; */
@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamProBold.ttf");
  font-style: normal;
  font-weight: normal; }

/* font-family: "GothamProBoldItalic"; */
@font-face {
  font-family: "GothamProBolditalic";
  src: url("../fonts/GothamProBoldItalic.ttf");
  font-style: normal;
  font-weight: normal; }

.pages {
  /* Смежные классы */
  /* End Смежные классы */
  /*---------- primary page-container ----------*/
  /*---------- end primary page-container ----------*/
  /*---------- footer ----------*/
  /*---------- end footer ----------*/ }
  .pages .main-content {
    max-width: 1770px;
    margin: auto; }
  .pages .nav .open > a, .pages .nav .open > a:focus, .pages .nav .open > a:hover {
    background-color: transparent !important; }
  .pages button, .pages input {
    outline: none; }
  .pages .btn-purple {
    background-color: #810C74;
    color: #FFFFFF;
    border: none;
    font-size: 18px;
    font-family: "GothamProBold";
    width: 210px;
    height: 40px;
    position: relative;
    border-radius: 2px; }
  .pages .btn-download {
    padding-left: 50px;
    max-width: 150px;
    background-color: transparent;
    border: none;
    text-align: left;
    background-image: url(../svg/btn-download.svg);
    background-repeat: no-repeat;
    height: 34px;
    font-size: 18px;
    line-height: 18px; }
  .pages body {
    font-family: "GothamProRegular", "Helvetica Neue", "Helvetica,Arial,sans-serif" !important;
    letter-spacing: 1px; }
  .pages header {
    z-index: 2; }
    .pages header .header {
      padding: 10px 25px 0;
      background-color: #FFFFFF; }
    .pages header .navbar-toggle:hover {
      background: transparent !important; }
    .pages header .navbar-toggle .icon-bar {
      width: 22px;
      transition: all 0.2s; }
    .pages header .navbar-toggle .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%; }
    .pages header .navbar-toggle .middle-bar {
      opacity: 0; }
    .pages header .navbar-toggle .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%; }
    .pages header .navbar-toggle.collapsed .top-bar {
      transform: rotate(0); }
    .pages header .navbar-toggle.collapsed .middle-bar {
      opacity: 1; }
    .pages header .navbar-toggle.collapsed .bottom-bar {
      transform: rotate(0); }
    .pages header .main-content {
      justify-content: space-between; }
    .pages header .navbar-toggle {
      margin-right: 0; }
    .pages header .navbar-toggle .icon-bar {
      background: #ff9600; }
    .pages header .navbar-toggle:hover {
      background: transparent !important; }
    .pages header .navbar-toggle .icon-bar {
      width: 22px;
      transition: all 0.2s; }
    .pages header .navbar-toggle .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%; }
    .pages header .navbar-toggle .middle-bar {
      opacity: 0; }
    .pages header .navbar-toggle .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%; }
    .pages header .navbar-toggle.collapsed .top-bar {
      transform: rotate(0); }
    .pages header .navbar-toggle.collapsed .middle-bar {
      opacity: 1; }
    .pages header .navbar-toggle.collapsed .bottom-bar {
      transform: rotate(0); }
  .pages .logo {
    width: 180px;
    height: 52px;
    cursor: pointer; }
    .pages .logo img {
      max-width: 100%;
      max-height: 100%; }
  .pages .breadcrumd {
    font-size: 12px;
    padding: 20px 25px 20px;
    background-image: linear-gradient(to top, transparent, #fff); }
    .pages .breadcrumd p a {
      color: rgba(129, 12, 116, 0.4); }
    .pages .breadcrumd p .you-here {
      color: #A34E9A; }
  .pages .search-block {
    padding: 0 25px 30px; }
    .pages .search-block .search {
      width: 170px;
      height: 30px;
      border: 1px solid #FFCC88;
      border-radius: 5px;
      background-image: url(../svg/search-bg.svg);
      background-repeat: no-repeat;
      background-size: 15px;
      background-position: 5px center;
      padding: 0 5px; }
      .pages .search-block .search:focus {
        background-image: none; }
  .pages .main-content {
    max-width: 1770px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    .pages .main-content .menu ul li:hover:after {
      display: block;
      content: '';
      height: 2px;
      width: 80%;
      margin: auto;
      position: absolute;
      background-color: #FF9600; }
    .pages .main-content .menu ul li:hover a {
      padding-bottom: 15px; }
    .pages .main-content .menu ul li:hover ul {
      background-color: rgba(206, 206, 206, 0.55);
      border: none;
      box-shadow: 0 3px 11px -1px rgba(0, 0, 0, 0.175); }
      .pages .main-content .menu ul li:hover ul li {
        padding: 15px 0 0 0;
        margin: 0;
        transition: 0.2s; }
        .pages .main-content .menu ul li:hover ul li a, .pages .main-content .menu ul li:hover ul li a:hover {
          color: #FFFFFF;
          font-family: GothamProRegular; }
        .pages .main-content .menu ul li:hover ul li:hover {
          background-color: rgba(131, 81, 127, 0.77); }
          .pages .main-content .menu ul li:hover ul li:hover:after {
            display: none; }
    .pages .main-content .menu ul .open .custom-caret {
      transform: rotate(-180deg);
      transition: 0.2s; }
    .pages .main-content .menu ul .open a {
      padding-bottom: 15px; }
    .pages .main-content .menu ul .open ul {
      background-color: rgba(206, 206, 206, 0.55);
      border: none;
      box-shadow: 0 3px 11px -1px rgba(0, 0, 0, 0.175); }
      .pages .main-content .menu ul .open ul li {
        padding: 15px 0 0 0;
        margin: 0;
        transition: 0.2s; }
        .pages .main-content .menu ul .open ul li a, .pages .main-content .menu ul .open ul li a:hover {
          color: #FFFFFF;
          font-family: "GothamProRegular"; }
        .pages .main-content .menu ul .open ul li:hover {
          background-color: rgba(131, 81, 127, 0.77); }
          .pages .main-content .menu ul .open ul li:hover:after {
            display: none; }
    .pages .main-content .menu a {
      font-family: "IntroRustG";
      font-size: 1.55rem;
      color: #ffb74f;
      transition: 0.2s; }
    .pages .main-content .menu a:hover, .pages .main-content .menu a:focus {
      color: #ffb74f;
      transition: 0.2s;
      background-color: transparent; }
    .pages .main-content .menu .active a {
      color: #810C74; }
    .pages .main-content .menu .custom-caret {
      transition: 0.2s;
      max-width: 12px;
      vertical-align: middle;
      padding: 6px 0;
      position: relative;
      left: 3px; }
    .pages .main-content p {
      margin: 0; }
    .pages .main-content a {
      color: #ffb74f;
      font-family: "GothamProRegular"; }
    .pages .main-content .decor-line {
      width: 150px;
      height: 718px;
      background-color: rgba(255, 150, 0, 0.67);
      position: absolute;
      top: 0;
      left: 297px;
      display: none; }
      .pages .main-content .decor-line:before {
        content: '';
        display: block;
        width: 0px;
        background-color: #FF9600;
        box-shadow: 0 0 0 6px #FF9600;
        height: 215px;
        float: left;
        top: 360px;
        position: relative; }
    .pages .main-content .group {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      max-width: 500px;
      justify-content: space-between;
      left: 50px;
      position: relative; }
      .pages .main-content .group .call-number {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.8rem;
        font-weight: 800;
        padding-bottom: 6px;
        max-width: 200px;
        justify-content: flex-end; }
        .pages .main-content .group .call-number a {
          transition: 0.2s; }
          .pages .main-content .group .call-number a:hover, .pages .main-content .group .call-number a:focus {
            color: #ffb74f;
            text-decoration: none;
            text-shadow: 0 0 1px #FF9600; }
      .pages .main-content .group .city {
        padding-bottom: 10px;
        padding-left: 13px;
        width: 150px; }
        .pages .main-content .group .city .point {
          height: 30px;
          float: left;
          position: relative;
          top: 5px;
          right: 10px; }
        .pages .main-content .group .city .custom-caret {
          max-width: 10px;
          transition: 0.2s; }
        .pages .main-content .group .city label {
          margin: 0;
          color: #B3B8B3; }
        .pages .main-content .group .city .select {
          background-color: transparent;
          border: none;
          font-family: "IntroRustG";
          padding: 0;
          color: #FFFFFF;
          color: #FF9600; }
        .pages .main-content .group .city .open .select .custom-caret {
          transform: rotate(-180deg);
          transition: 0.2s; }
  .pages .block-page-container {
    display: flex;
    justify-content: space-between;
    /*---------- left-sidebar ----------*/
    /*---------- end left-sidebar ----------*/
    /*---------- right-sidebar ----------*/
    /*---------- end right-sidebar ----------*/ }
    .pages .block-page-container .left-sidebar-button {
      display: none; }
    .pages .block-page-container .left-sidebar {
      max-width: 342px;
      width: 100vw;
      float: left;
      overflow-y: scroll;
      background-color: rgba(179, 184, 179, 0.1);
      margin-top: 5px;
      top: 178px;
      position: fixed;
      bottom: 50px; }
      .pages .block-page-container .left-sidebar ul {
        padding: 0 15px 0 65px; }
        .pages .block-page-container .left-sidebar ul li {
          font-size: 18px;
          color: #FF9600;
          font-family: "GothamProBold";
          list-style: none;
          padding: 5px 0; }
          .pages .block-page-container .left-sidebar ul li a {
            color: inherit; }
          .pages .block-page-container .left-sidebar ul li ul {
            padding: 0; }
            .pages .block-page-container .left-sidebar ul li ul li {
              font-family: "GothamProRegular";
              font-size: 14px; }
              .pages .block-page-container .left-sidebar ul li ul li a {
                color: #989B98; }
            .pages .block-page-container .left-sidebar ul li ul .active a {
              color: #FF9600;
              text-decoration: underline; }
    .pages .block-page-container .left-sidebar > ul > li:after {
      display: block;
      content: '';
      height: 1px;
      background-color: rgba(152, 155, 152, 0.3);
      width: 110px;
      top: 5px;
      right: 65px;
      position: relative; }
    .pages .block-page-container .content-block {
      padding: 158px 70px 0;
      max-width: 1170px;
      width: 100%;
      bottom: 43px;
      position: relative;
      margin-left: 351px; }
      .pages .block-page-container .content-block .page-title {
        font-size: 18px;
        font-family: "IntroRustG";
        color: purple;
        text-align: center; }
      .pages .block-page-container .content-block .title {
        font-size: 25px;
        font-family: "GothamProBold";
        color: #ffb74f; }
      .pages .block-page-container .content-block .content {
        padding: 15px 0 15px 60px; }
        .pages .block-page-container .content-block .content .img-block {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          padding: 5px 0 20px;
          overflow: hidden; }
          .pages .block-page-container .content-block .content .img-block .image {
            justify-content: center;
            display: flex;
            overflow: hidden; }
        .pages .block-page-container .content-block .content .bottom-menu {
          float: left;
          width: 100%; }
          .pages .block-page-container .content-block .content .bottom-menu ul {
            padding: 15px 0 30px; }
            .pages .block-page-container .content-block .content .bottom-menu ul li {
              padding: 5px 25px 5px 0;
              transition: 0.2s; }
              .pages .block-page-container .content-block .content .bottom-menu ul li a {
                color: #ffb74f;
                padding: 0;
                text-decoration: 0; }
              .pages .block-page-container .content-block .content .bottom-menu ul li:hover a {
                color: #FF9600;
                text-decoration: underline;
                background-color: transparent; }
      .pages .block-page-container .content-block .article-categories .article-categories-title {
        font-family: "GothamProBold";
        font-size: 16px;
        color: #232323; }
      .pages .block-page-container .content-block .article-categories .content ul {
        padding: 0; }
        .pages .block-page-container .content-block .article-categories .content ul li {
          transition: 0.2s;
          list-style: none; }
          .pages .block-page-container .content-block .article-categories .content ul li a {
            text-decoration: underline;
            color: #A34E9A; }
          .pages .block-page-container .content-block .article-categories .content ul li:hover a {
            color: #810C74; }
    .pages .block-page-container .right-sidebar {
      max-width: 372px;
      width: 100vw;
      float: right;
      overflow: hidden;
      padding-right: 50px;
      padding-top: 225px;
      position: relative;
      bottom: 50px; }
      .pages .block-page-container .right-sidebar .title {
        font-family: "GothamProBold";
        font-size: 16px; }
        .pages .block-page-container .right-sidebar .title:after {
          content: '';
          display: block;
          height: 1px;
          width: 380px;
          background-color: rgba(152, 155, 152, 0.4);
          position: relative;
          top: 10px; }
      .pages .block-page-container .right-sidebar ul {
        font-family: "GothamProBold";
        font-size: 18px;
        padding: 0; }
        .pages .block-page-container .right-sidebar ul li {
          list-style: none;
          line-height: 18px;
          padding: 10px 0; }
          .pages .block-page-container .right-sidebar ul li a {
            color: #989B98;
            transition: 0.2s; }
          .pages .block-page-container .right-sidebar ul li:hover a {
            color: rgba(35, 35, 35, 0.7);
            text-decoration: none; }
        .pages .block-page-container .right-sidebar ul .active a {
          color: #232323; }
        .pages .block-page-container .right-sidebar ul .active:hover a {
          color: inherit; }
    .pages .block-page-container ::-webkit-scrollbar-button {
      width: 5px;
      height: 0px; }
    .pages .block-page-container ::-webkit-scrollbar-track {
      background-color: transparent; }
    .pages .block-page-container ::-webkit-scrollbar-thumb {
      -webkit-border-radius: 0px;
      border-radius: 5px;
      background-color: #B3B8B3; }
    .pages .block-page-container ::-webkit-scrollbar-thumb:hover {
      background-color: #ffb74f; }
    .pages .block-page-container ::-webkit-resizer {
      width: 4px;
      height: 0px; }
    .pages .block-page-container ::-webkit-scrollbar {
      width: 10px; }
  .pages .page-questions .content-block .content {
    padding: 15px 0 15px 60px; }
    .pages .page-questions .content-block .content .img-block .image {
      max-width: 470px;
      width: 100%;
      max-height: 340px;
      height: 100vh; }
  .pages .page-technology .left-sidebar ul li {
    font-size: 25px;
    font-family: "IntroRustG"; }
  .pages .page-technology .content-block .img-block .image {
    width: 580px;
    height: 340px; }
  .pages .page-technology .content-block .img-block .image-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .pages .page-technology .content-block .img-block .image-group .image {
      width: 370px;
      height: 220px; }
    .pages .page-technology .content-block .img-block .image-group .image-undergroup {
      display: flex;
      justify-content: space-between; }
      .pages .page-technology .content-block .img-block .image-group .image-undergroup .image {
        width: 175px;
        height: 100px; }
  .pages .page-technology .content-block .img-block img {
    height: fit-content; }
  .pages .page-technology .right-sidebar .cell {
    margin: 30px 0; }
    .pages .page-technology .right-sidebar .cell .image {
      width: 230px;
      height: 146px;
      overflow: hidden;
      display: flex;
      justify-content: center; }
      .pages .page-technology .right-sidebar .cell .image img {
        height: fit-content; }
    .pages .page-technology .right-sidebar .cell .cell-title {
      padding: 5px 0; }
  .pages .page-contacts .map-content {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse; }
    .pages .page-contacts .map-content .map {
      min-height: 100vh;
      width: inherit; }
    .pages .page-contacts .map-content .contacts {
      background-color: rgba(235, 237, 235, 0.8);
      padding: 15px 100px;
      height: inherit;
      position: absolute;
      width: 47%;
      top: 85px;
      bottom: 0;
      right: 0; }
      .pages .page-contacts .map-content .contacts .title {
        color: #810C74;
        font-size: 18px;
        font-family: "IntroRustG"; }
      .pages .page-contacts .map-content .contacts .social-networks {
        padding: 15px 0 30px; }
        .pages .page-contacts .map-content .contacts .social-networks .network .insta {
          width: 13px; }
        .pages .page-contacts .map-content .contacts .social-networks .network .vk {
          width: 23px;
          margin-right: 15px; }
      .pages .page-contacts .map-content .contacts .cells {
        display: flex;
        justify-content: space-between;
        max-width: 677px;
        flex-wrap: wrap; }
        .pages .page-contacts .map-content .contacts .cells .cell {
          max-width: 225px;
          display: inline-block;
          margin: 15px 15px 15px 0; }
          .pages .page-contacts .map-content .contacts .cells .cell .cell-title {
            padding-bottom: 10px; }
            .pages .page-contacts .map-content .contacts .cells .cell .cell-title .city {
              font-family: "GothamProBold";
              font-size: 18px;
              color: #FF9600; }
            .pages .page-contacts .map-content .contacts .cells .cell .cell-title .belt {
              color: #989B98;
              font-size: 12px; }
      .pages .page-contacts .map-content .contacts .copiright {
        font-size: 12px;
        font-family: "GothamProLightItalic";
        color: #585B58;
        position: absolute;
        bottom: 15px; }
  .pages .footer {
    background-color: #232323;
    padding: 15px;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    z-index: 2; }
    .pages .footer .main-content {
      justify-content: space-between;
      margin: auto auto 0; }
      .pages .footer .main-content .copiright {
        color: #FFFFFF; }
      .pages .footer .main-content .company-development {
        color: #FFFFFF; }
        .pages .footer .main-content .company-development span a {
          color: #FF9600;
          text-decoration: none;
          transition: 0.2s; }
          .pages .footer .main-content .company-development span a:hover {
            text-decoration: none;
            color: #FF9600;
            text-shadow: 0 0 2px #FF9600; }
      .pages .footer .main-content .btn-scroll-to-top {
        height: 50px;
        width: 50px;
        border: none;
        border-radius: 100%;
        background-color: #fff;
        position: fixed;
        display: none;
        right: 15px;
        bottom: 7%;
        background-image: url(../svg/btn-scroll-to-top.svg);
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
        transform: rotate(-90deg);
        transition: 0.2s;
        opacity: 0;
        z-index: 5; }

.pages .page-projects .search-block {
  display: none; }

.pages .page-projects > .block-content {
  padding-top: 20px !important; }

.pages .page-projects > .main-content {
  padding-top: 150px; }
  .pages .page-projects > .main-content .title {
    font-family: "IntroRustG";
    color: #810C74;
    font-size: 18px; }
  .pages .page-projects > .main-content .subtitle {
    font-size: 16px;
    color: #585B58;
    font-family: "GothamProBold";
    margin: 0; }
  .pages .page-projects > .main-content .cells {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 35px; }
    .pages .page-projects > .main-content .cells .cell {
      max-width: 427px;
      margin-bottom: 45px;
      width: 100%;
      padding: 0 15px; }
      .pages .page-projects > .main-content .cells .cell .image {
        overflow: hidden;
        max-height: 294px; }
      .pages .page-projects > .main-content .cells .cell .info {
        padding-top: 10px; }
        .pages .page-projects > .main-content .cells .cell .info .name {
          font-family: "GothamProBold";
          font-size: 16px;
          color: #232323;
          padding-bottom: 5px; }
          .pages .page-projects > .main-content .cells .cell .info .name .process {
            max-width: 15px;
            margin-left: 5px; }
        .pages .page-projects > .main-content .cells .cell .info .city-year {
          color: #989B98;
          display: flex;
          justify-content: space-between; }
          .pages .page-projects > .main-content .cells .cell .info .city-year .photo-count {
            width: 50px;
            text-align: right; }
            .pages .page-projects > .main-content .cells .cell .info .city-year .photo-count img {
              max-width: 15px; }

.pages .page-projects .sorting-block:after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: #ffb74f; }

.pages .page-projects .sorting-block .sorting {
  font-size: 18px;
  text-decoration: none;
  color: #232323;
  padding: 0 65px;
  margin: 20px 0;
  display: block;
  max-width: 262px;
  max-height: 30px;
  justify-content: space-between;
  display: flex;
  align-items: center; }
  .pages .page-projects .sorting-block .sorting .custom-caret {
    max-width: 16px;
    transition: 0.2s; }

.pages .page-projects .sorting-block .collapsed .custom-caret {
  transform: rotate(180deg); }

.pages .page-projects .sorting-block .block-filter {
  padding: 0 65px;
  width: 100%; }
  .pages .page-projects .sorting-block .block-filter .filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 875px;
    width: 100%;
    align-items: flex-end; }
    .pages .page-projects .sorting-block .block-filter .filter .group-dropdown {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 700px;
      width: 100%; }
      .pages .page-projects .sorting-block .block-filter .filter .group-dropdown label {
        font-family: "GothamProRegular";
        color: #585B58; }
      .pages .page-projects .sorting-block .block-filter .filter .group-dropdown .select {
        background: transparent;
        border: 1px solid #B3B8B3;
        border-radius: 3px;
        width: 160px;
        height: 30px;
        font-family: "GothamProRegular";
        font-size: 12px;
        color: #B3B8B3;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: 0.2s; }
        .pages .page-projects .sorting-block .block-filter .filter .group-dropdown .select:hover {
          color: #FF9600;
          border-color: #ffb74f; }
        .pages .page-projects .sorting-block .block-filter .filter .group-dropdown .select .custom-caret {
          max-width: 12px;
          transform: rotate(180deg);
          transition: 0.2s; }
        .pages .page-projects .sorting-block .block-filter .filter .group-dropdown .select p {
          margin: 0; }
      .pages .page-projects .sorting-block .block-filter .filter .group-dropdown .open .select {
        color: #FF9600;
        border-color: #ffb74f; }
        .pages .page-projects .sorting-block .block-filter .filter .group-dropdown .open .select .custom-caret {
          transform: rotate(0); }
    .pages .page-projects .sorting-block .block-filter .filter .clear {
      background-color: transparent;
      border: none;
      height: 30px;
      width: 100px;
      background-image: url("../svg/clear-cross.svg");
      background-position: right;
      background-repeat: no-repeat;
      background-size: 18px;
      text-align: left;
      color: rgba(179, 184, 179, 0.6);
      font-size: 15px;
      transition: 0.2s; }
      .pages .page-projects .sorting-block .block-filter .filter .clear:hover {
        color: #FF9600; }

.page-project-detail .header {
  background-color: rgba(35, 35, 35, 0.2) !important; }

.page-project-detail .breadcrumd {
  background: none; }

.page-project-detail .search-block {
  display: none; }
