$light-orange: #ffb74f;
$orange: #FF9600;
$gray: #B3B8B3;
$white: #FFFFFF;
$light-purple: #A34E9A;
$purple: #810C74;
$dark-purple: #3c0336;
$dark-gray: #232323;
.pages {
  @media screen and (max-width: 1873px) {
    .block-page-container {
      .content-block {
        padding: 158px 15px 0;
        .content {
          .img-block {
            justify-content: space-evenly;
          }
        }
      }
      .right-sidebar {
        max-width: 280px;
      }
    }
  }

  @media screen and (max-width: 1865px) {
    .page-project-detail {
      .project-info-detail {
        .info-project-tabs {
          max-width: 545px;
        }
      }
    }
  }

  @media screen and (max-width: 1820px) {
    .block-page-container {
      .left-sidebar {
        ul {
          padding: 0 15px 0 25px;
        }
      }
    }
  }

  @media screen and (max-width: 1812px) {
    .page-catalog {
      .left-sidebar-container {
        .left-sidebar {
          max-width: 242px;
          padding: 0 15px 0 15px;
          left: -255px;
          background-color: $white;
          position: fixed;
          z-index: 6;
          top: 0;
          bottom: 0;
        }
        .catalog-content {
          float: none;
          max-width: 1380px;
          margin: auto;
        }
        .left-sidebar-button {
          left: 0;
          top: 34%;
          position: fixed;
          background-color: $orange;
          height: 36px;
          width: 26px;
          border-radius: 0 5px 5px 0;
          box-shadow: -7px 4px 6px 0 rgba(0, 0, 0, 0.24);
          cursor: pointer;
          z-index: 1031;
          transform-origin: right;
          transition: 0.48s;
          display: table;
          padding-bottom: 2px;
          .glyphicon {
            display: table-cell;
            vertical-align: middle;
            font-size: 23px;
            color: $purple;
            transition: 0.5s;
          }
        }

        .left-sidebar {
          top: 0px;
          float: none;
          right: 100%;
          background-color: #fff;
          z-index: 1031;
          box-shadow: 0 0 15px 0;
          margin-top: 0;
          transition: 0.5s;
          left: -248px;
        }
      }
      [id='toggle-left-menu']:checked ~ .left-sidebar {
        left: 0;
      }

      [id='toggle-left-menu']:checked ~ .left-sidebar-button {
        top: 50px;
        left: 242px;
        transition: 0.5s;
        .glyphicon {
          transform: rotateY(180deg);
        }
      }
    }
  }

  @media screen and (max-width: 1700px) {
    .page-project-detail {
      .project-detail-page-header {
        padding: 0 15px;
      }
    }
  }

  @media screen and (max-width: 1675px) {
    .block-page-container {
      flex-wrap: wrap;
      .right-sidebar {
        max-width: inherit;
        float: none;
        display: flex;
        flex-wrap: wrap;
        padding-left: 365px;
        padding-top: 15px;
        .title {
          width: 100%;
        }
        .cell {
          max-width: 230px;
          margin-right: 15px;
        }
      }
    }
  }

  @media screen and (max-width: 1650px) {
    .page-project-detail {
      .project-info-detail {
        justify-content: flex-start;
        padding-right: 65px;
        .info-project {
          padding: 0 30px;
          max-width: 525px;
        }
        .info-project-tabs {
          max-width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 1580px) {
    .main-content {
      .group {
        left: 0;
      }
    }
  }

  @media screen and (max-width: 1459px) {
    .menu {
      margin: auto;
    }
    .block-page-container {
      .left-sidebar {
        max-width: 285px;
      }
      .content-block {
        margin-left: 295px;
      }
    }
  }

  @media screen and (max-width: 1447px) {
    .page-contacts {
      .map-content {
        .contacts {
          .copiright {
            position: relative;
            padding-top: 30px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1446px) {
    .page-contacts {
      .map-content {
        .map {
          height: 100vh;
        }
        .contacts {
          position: relative;
          width: 100%;
          padding: 15px;
        }
      }
    }
  }

  @media screen and (min-width: 1356px) and (max-width: 1429px) {
    .block-page-container {
      .left-sidebar {
        padding-top: 25px;
      }
      .content-block {
        padding: 205px 15px 0;
      }
    }
  }

  @media screen and (max-width: 1370px) {
    .page-catalog {
      .catalog-content {
        .catalog-cells {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1355px) {
    .page-projects {
      & > .main-content {
        padding-top: 160px !important;
      }
    }
  }

  @media screen and (max-width: 1355px) {
    header {
      .breadcrumd {
        background-color: #fff;
      }
      .search-block {
        background-color: #fff;
        padding: 0 25px 5px;
        box-shadow: 0 11px 25px 0 rgb(255, 255, 255);
      }
    }
    .block-page-container {
      .left-sidebar-container {
        .left-sidebar-button {
          left: 0;
          top: 34%;
          position: fixed;
          background-color: $orange;
          height: 36px;
          width: 26px;
          border-radius: 0 5px 5px 0;
          box-shadow: -7px 4px 6px 0 rgba(0, 0, 0, 0.24);
          cursor: pointer;
          z-index: 1031;
          transform-origin: right;
          transition: 0.46s;
          display: table;
          .glyphicon {
            display: table-cell;
            vertical-align: middle;
            font-size: 23px;
            color: $purple;
            transition: 0.5s;
          }
        }

        .left-sidebar {
          top: 0px;
          float: none;
          right: 100%;
          background-color: #fff;
          z-index: 1031;
          box-shadow: 0 0 15px 0;
          margin-top: 0;
          transition: 0.5s;
          left: -295px;
        }
      }
      .content-block {
        padding: 250px 25px 0;
        margin-left: 0;
        max-width: 100%;
      }
      .right-sidebar {
        margin-left: 0;
        padding: 0 25px 0;
      }

      [id='toggle-left-menu']:checked ~ .left-sidebar {
        left: 0;
      }

      [id='toggle-left-menu']:checked ~ .left-sidebar-button {
        top: 50px;
        left: 285px;
        transition: 0.5s;
        .glyphicon {
          transform: rotateY(180deg);
        }
      }

    }

    .left-sidebar-button .icon-bar {
      width: 28px;
      transition: all 0.2s;
      margin: auto;
    }

    .left-sidebar-button .icon-bar {
      background-color: $purple;
      display: block;
      height: 2px;
      margin: auto;
      margin-bottom: 6px;
      position: relative;
      top: 8px;
    }

    [id='toggle-left-menu']:checked ~ .left-sidebar-button .icon-bar {
      left: 3px;
    }

    .left-sidebar-button .icon-bar {
      width: 28px;
      transition: all 0.3s;
    }
    .left-sidebar-button .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }
    .left-sidebar-button .middle-bar {
      opacity: 0;
    }

    .left-sidebar-button .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }

    .left-sidebar-button .top-bar {
      transform: rotate(0);
    }

    .left-sidebar-button .middle-bar {
      opacity: 1;
    }

    .left-sidebar-button .bottom-bar {
      transform: rotate(0);
    }
  }

  @media screen and (max-width: 1224px) {
    .page-project-detail {
      .project-info-detail {
        .info-project {
          padding: 0;
        }
      }
    }
  }

  @media screen and (min-width: 1023px) and (max-width: 1079px) {
    .page-technology {
      .content-block {
        .img-block {
          .image {
            width: 525px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1023px) {
    .block-page-container {
      .content-block {
        .content {
          padding: 15px 0 15px 0px;
        }
      }
    }
  }

  @media screen and (max-width: 815px) {
    .page-project-detail {
      .project-detail-page-header {
        .block-name {
          margin: auto;
        }
        .next, .prev {
          position: absolute;
          bottom: 70px;
        }
        .next {
          right: 15px;
        }
        .prev {
          left: 15px;
        }
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1000px) {
    .page-technology {
      .content-block {
        .img-block {
          .image {
            width: 350px;
          }
          .image-group {
            max-width: 317px;
            .image {
              width: 100%;
            }
            .image-undergroup {
              .image {
                width: 49%;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    header {
      position: relative !important;
      .menu {
        width: 100%;
        .custom-caret {
          float: right;
        }
      }
    }
    .main-content {
      .group {
        max-width: inherit;
      }
    }

    .block-page-container {
      .left-sidebar {
        bottom: 0;
      }
      .content-block {
        padding: 45px 25px 0;
      }
      .right-sidebar {
        .cell {
          margin: 15px auto;
        }
      }
    }

    .page-projects {
      & > .title {
        padding-top: 0px !important;
      }
    }

    .page-catalog {
      padding-top: 0;
    }

    .page-project-detail {
      padding-bottom: 0;
      .article-categories {
        padding: 0 15px;
      }
      .project-info-detail {
        padding-left: 15px;
        padding-right: 15px;
        .project {
          margin: auto;
        }
        .bottom-menu {
          .nav {
            display: flex;
            flex-wrap: wrap;
          }
        }
      }
      .project-detail-page-header {
        padding: 0;
        align-items: flex-start;
        header {
          width: 100%;
          position: relative !important;
        }
        .block-name {
          bottom: 131px;
          position: absolute;
          width: 100%;
        }
      }
    }

    .footer {
      position: relative !important;
    }
  }

  @media screen and (width: 768px) {
    .block-page-container {
      .left-sidebar-container {
        .left-sidebar-button {
          top: 41%;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    .navbar-header {
      width: 100%;
      padding-bottom: 15px;
      .logo {
        float: left;
      }
    }
    .bottom-menu {
      .navbar-nav {
        margin: 7.5px 0;
      }
    }
    .page-technology {
      .content-block {
        .img-block {
          .image {

          }
          .image-group {
            .image {
              height: 263px;
            }
            .image-undergroup {
              .image {
                height: 134px;
              }
            }
          }
        }
      }
    }
    .article-categories {
      .bottom-menu, .content {
        padding: 15px 0 15px 0;
      }

      .bottom-menu {
        .navbar-nav {
          display: flex;
          flex-wrap: wrap;
        }
      }

    }
  }

  @media screen and (min-width: 608px) and (max-width: 990px) {
    .page-questions {
      .content-block {
        .content {
          .img-block {
            .image {
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 608px) and (max-width: 767px) {
    .page-technology {
      .content-block {
        .image {
          margin-bottom: 15px;
        }
        .img-block {
          .image {
            width: 600px;
          }
          .image-group {
            width: 600px;
            .image-undergroup {
              flex-direction: column;
              .image {
                height: 125px;
              }
            }
          }
          .image-group {
            flex-direction: row;
          }
        }
      }
    }
  }

  @media screen and (max-width: 607px) {
    .block-page-container {
      .content-block {
        .content {
          .img-block {
            max-width: 370px;
            margin: auto;
            .image {
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 394px) and (max-width: 574px) {
    .page-project-detail {
      .project-info-detail {
        .info-project-tabs {
          .navs {
            li {
              a {
                padding: 10px 14px 10px 15px;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 565px) {
    .page-project-detail {
      .slider-navs {
        .slider-project-nav {
          .slick-track {
            .slick-slide {
              padding: 0 2px;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 475px) {
    .page-project-detail {
      .project-detail-page-header {
        .block-name {
          .title {
            font-size: 38px;
          }
        }
      }
      .project-info-tabs {
        .tabs {
          .tab-content {
            .tab-pane {
              .block-floor-info {
                .cell {
                  max-width: 100%;
                  margin: 0 !important;
                  padding: 0 15px;
                }
              }
            }
          }
        }
      }
      .project-detail-page-header {
        .next, .prev {
          width: 135px;
        }
      }
    }
  }

  @media screen and (min-width: 450px) and (max-width: 764px) {
    .block-page-container {
      .left-sidebar-container {
        .left-sidebar-button {
          top: 36%;
        }
      }
    }
  }

  @media screen and (max-width: 400px) {
    .main-content {
      .group {
        justify-content: center;
      }
    }
    .block-page-container {
      .left-sidebar-container {
        .left-sidebar-button {
          top: 23%;
        }
      }
    }
    .page-project-detail {
      .project-info-detail {
        .info-project {
          p {
            .parametr {
              width: 140px;
            }
          }
        }
      }
      .project-info-tabs {
        .tabs {
          .tab-content {
            .tab-pane {
              .info-desk {
                p {
                  .parametr {
                    width: 190px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 399px) {
    .page-project-detail {
      .project-detail-page-header {
        .next, .prev {
          bottom: 33px;
        }
        .block-name {
          bottom: 87px;
        }
      }
    }
  }

  @media screen and (max-width: 393px) {
    .page-project-detail {
      .project-info-detail {
        .info-project-tabs {
          .navs {
            li {
              width: 100%;
              text-align: center;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 360px) {

    .page-catalog {
      .catalog-content {
        .catalog-cells {
          .cell {
            .info-block {
              .icons {
                div {
                  padding: 0 10px !important;
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 340px) {
    [id='toggle-left-menu']:checked ~ .left-sidebar {
      left: -15px !important;
    }

    [id='toggle-left-menu']:checked ~ .left-sidebar-button {
      left: 270px !important;
    }
    .page-catalog {
      [id='toggle-left-menu']:checked ~ .left-sidebar {
        left: 0 !important;
      }

      [id='toggle-left-menu']:checked ~ .left-sidebar-button {
        left: 242px !important;
      }
    }
  }
}