@media screen and (max-width: 1320px) {
  .pages {
    .page-about {
      .block-two, .block-fourth {
        padding: 25px 15px;
      }
    }
  }
}

@media screen and (max-width: 1260px) {
  .pages {
    .page-about {
      .block-six {
        .desk {
          .right-column:before {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1173px) {
  .pages {
    .page-about {
      .block-six {
        .desk {
          padding-top: 45px;
          .left-column {
            width: 100%;
            padding-bottom: 15px;
          }
          .right-column {
            max-width: 100%;
          }
        }
        .about-franchise-container {
          margin-top: 20px;
        }
      }
    }
  }

}

@media screen and (max-width: 1024px) {
  .pages {
    .page-about {
      .block-three {
        padding: 0 15px;
        p:before {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 955px) {
  .pages {
    .page-about {
      .block-six {
        .about-franchise-container {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px){
  .pages {
    .page-about {
      .block-five {
        height: 150px;
        background-position: center;
        background-size: cover;
      }
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 955px) {
  .pages {
    .page-about {
      .block-six {
        .about-franchise-container {
          width: 737px;
          .about-franchise {
            padding: 52px 0;
            p {
              font-size: 30px;
            }
            .btn-send-application {
              margin-top: 42px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 600px) and (max-width: 766px) {
  .pages {
    .page-about {
      .block-six {
        .about-franchise-container {
          width: 570px;
          .about-franchise {
            padding-top: 53px;
            min-height: 344px;
            p {
              font-size: 24px;
              span {
                font-size: 35px;
              }
            }
            .btn-send-application {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .pages {
    .page-about {
      .block-three {
        p {
          font-size: 20px;
        }
      }
      .block-six {
        .about-franchise-container {
          background-image: none;
          .about-franchise {
            min-height: 344px;
            padding-top: 0;
            p {
              font-size: 24px;
              span {
                font-size: 35px;
              }
            }
            .btn-send-application-block {
              width: 100%;
              display: block;
              background-image: linear-gradient(to top, #FF9600, #FF9600);
              background-position: 0, center;
              background-repeat: no-repeat;
              background-size: 100% 13px;
              .btn-send-application {
                margin-top: 0;
                background-color: #FFFFFF;
                max-width: 230px;
              }
            }
          }
        }
        .desk {
          .right-column {
            p {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 427px){
  .pages {
    .page-about {
      .block-one {
        .page-title {
          font-size: 32px;
        }
      }
    }
  }
}