@media screen and (max-width: 1850px) {
  .pages {
    .container-404 {
      .parallax {
        .home-1, .home-2, .home-3, .home-4, .planet, .light {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .pages {
    .container-404 {
      .error-text {
        bottom: 151px;
        position: relative;
        text-align: center;
        width: 335px;
        margin: auto;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .pages {
    .container-404 {
      .header {
        span {
          display: none;
        }
      }
    }
    .container-403 {
      padding: 0 15px;
    }
  }


  @media screen and (max-width: 475px) {
    .pages {
      .container-404 {
        padding: 0 15px;
        .link-to-home {
          a {
            font-size: 20px;
          }
        }
        .parallax {
          .error-code {
            top: 21%;
            p {
              font-size: 115px;
            }
          }

        }
        .error-text {
          width: 290px;
          p {
            font-size: 35px;
          }
          .comet {
            left: -66px;
          }
        }
      }
    }
  }

}

@media screen and (max-width: 500px) {
  .pages {
    .container-403 {
      .error-text {
        p {
          font-size: 35px;
        }
        .error-code {
          height: 35px;
          p {
            font-size: 140px;
          }
        }
      }
    }
  }
}