/* font-family: "IntroRustG"; */

@font-face {
  font-family: "IntroRustG";
  src: url("../fonts/IntroRustG-Base.otf");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "GothamProItalic"; */

@font-face {
  font-family: "GothamProItalic";
  src: url("../fonts/GothamProItalic.ttf");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "GothamProLightItalic"; */

@font-face {
  font-family: "GothamProLightItalic";
  src: url("../fonts/GothamProLightItalic.ttf");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "GothamProRegular"; */

@font-face {
  font-family: "GothamProRegular";
  src: url("../fonts/GothamProRegular.ttf");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "GothamProMediumItalic"; */

@font-face {
  font-family: "GothamProMediumItalic";
  src: url("../fonts/GothamProMediumItalic.ttf");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "GothamProBold"; */

@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamProBold.ttf");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "GothamProBoldItalic"; */

@font-face {
  font-family: "GothamProBolditalic";
  src: url("../fonts/GothamProBoldItalic.ttf");
  font-style: normal;
  font-weight: normal;
}

$white: #FFFFFF;
$dark-gray: #232323;
$orange: #FF9600;

.pages {
  margin: 0;
  .page-about {
    font-family: "GothamProRegular";
    .block-one {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      max-height: 650px;
      height: 100vh;
      background-position: center;
      background-image: linear-gradient(to top, rgba(51, 4, 47, 0.41), rgba(51, 4, 47, 0.41)), url("../img/system/about-block-one-bg.jpg");
      .page-title {
        font-size: 50px;
        color: $white;
        font-family: "IntroRustG";
      }
    }

    .block-two {
      padding: 65px 195px;
      p {
        color: $dark-gray;
        font-size: 22px;
      }
    }

    .block-three {
      background-color: rgba(255, 204, 136, 0.25);
      min-height: 330px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      p {
        font-size: 24px;
        position: relative;
        width: 900px;
        text-align: left;
        span {
          font-family: "GothamProBolditalic";
          font-size: 32px;
        }
        &:before {
          height: 78px;
          position: absolute;
          width: 0;
          display: block;
          content: '';
          box-shadow: 0 0 0 7px #FF9600;
          top: 15px;
          left: -50px;
        }
      }
    }

    .block-fourth {
      padding: 80px 190px;
      p {
        font-size: 22px;
      }
    }

    .block-five {
      background-image: linear-gradient(to top, rgba(163, 78, 154, 0.50), rgba(163, 78, 154, 0.50)), url("../img/system/about-block-five-bg.jpg");
      height: 294px;
      background-position: center -352px;
    }

    .block-six {
      background-image: linear-gradient(to top, $white, transparent, $white), url("../img/system/about-block-six-bg.png");
      background-size: cover;
      background-position: center -130px;
      padding: 0 15px;
      .desk {
        max-width: 1403px;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-between;
        padding: 150px 0 30px;
        .left-column {
          padding-top: 7px;
          .radial-cell {
            max-width: 300px;
            margin: auto;
            text-align: center;
            .title {
              font-family: "GothamProBold";
              color: #3c0336;
              font-size: 25px;
              padding: 10px 0 15px;
            }
            .image {
              height: 180px;
              width: 180px;
              border-radius: 100%;
              overflow: hidden;
              margin: auto;
              display: flex;
              align-items: flex-start;
              justify-content: center;
            }
            .description {
              color: #585B58;
              font-size: 16px;
            }
          }
        }
        .right-column {
          max-width: 844px;
          position: relative;
          &:before {
            display: block;
            content: '';
            position: absolute;
            width: 0;
            height: 350px;
            box-shadow: 0 0 0 6px $orange;
            left: -55px;
            top: 15px;
          }
          p {
            font-size: 22px;
            text-align: justify;
          }
        }
      }

      .about-franchise-container {
        background-image: url(../svg/ramka.svg);
        max-width: 923px;
        max-height: 365px;
        width: 100%;
        margin: 130px auto 90px;
        background-size: 100%;
        background-repeat: no-repeat;
        .about-franchise {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          min-height: 359px;
          padding: 95px 0;
          p {
            font-size: 35px;
            text-align: center;
            span {
              font-size: 43px;
              color: $orange;
              font-family: "GothamProBold";
            }
          }
          .btn-send-application {
            height: 61px;
            max-width: 374px;
            width: 100%;
            display: block;
            margin: auto;
            background-color: transparent;
            border: none;
            font-size: 29px;
            color: #3F2400;
            font-family: "GothamProBold";
            margin-top: 52px;
          }

        }
      }

    }
  }
}