/* font-family: "IntroRustG"; */

@font-face {
  font-family: "IntroRustG";
  src: url("../fonts/IntroRustG-Base.otf");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "GothamProItalic"; */

@font-face {
  font-family: "GothamProItalic";
  src: url("../fonts/GothamProItalic.ttf");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "GothamProLightItalic"; */

@font-face {
  font-family: "GothamProLightItalic";
  src: url("../fonts/GothamProLightItalic.ttf");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "GothamProRegular"; */

@font-face {
  font-family: "GothamProRegular";
  src: url("../fonts/GothamProRegular.ttf");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "GothamProMediumItalic"; */

@font-face {
  font-family: "GothamProMediumItalic";
  src: url("../fonts/GothamProMediumItalic.ttf");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "GothamProBold"; */

@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamProBold.ttf");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "GothamProBoldItalic"; */

@font-face {
  font-family: "GothamProBolditalic";
  src: url("../fonts/GothamProBoldItalic.ttf");
  font-style: normal;
  font-weight: normal;
}

$light-orange: #ffb74f;
$orange: #FF9600;
$gray: #B3B8B3;
$white: #FFFFFF;
$light-purple: #A34E9A;
$purple: #810C74;
$dark-purple: #3c0336;
$dark-gray: #232323;

.pages {

  /* Смежные классы */

  .main-content {
    max-width: 1770px;
    margin: auto;
  }

  .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: transparent !important;
  }

  button, input {
    outline: none;
  }

  .btn-purple {
    background-color: $purple;
    color: $white;
    border: none;
    font-size: 18px;
    font-family: "GothamProBold";
    width: 210px;
    height: 40px;
    position: relative;
    border-radius: 2px;
  }

  .btn-download {
    padding-left: 50px;
    max-width: 150px;
    background-color: transparent;
    border: none;
    text-align: left;
    background-image: url(../svg/btn-download.svg);
    background-repeat: no-repeat;
    height: 34px;
    font-size: 18px;
    line-height: 18px;
  }

  /* End Смежные классы */

  body {
    font-family: "GothamProRegular", "Helvetica Neue", "Helvetica,Arial,sans-serif" !important;
    letter-spacing: 1px;
  }

  header {
    z-index: 2;
    .header {
      padding: 10px 25px 0;
      background-color: $white;
    }

    .navbar-toggle:hover {
      background: transparent !important;
    }
    .navbar-toggle .icon-bar {
      width: 22px;
      transition: all 0.2s;
    }
    .navbar-toggle .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }
    .navbar-toggle .middle-bar {
      opacity: 0;
    }
    .navbar-toggle .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }
    .navbar-toggle.collapsed .top-bar {
      transform: rotate(0);
    }
    .navbar-toggle.collapsed .middle-bar {
      opacity: 1;
    }
    .navbar-toggle.collapsed .bottom-bar {
      transform: rotate(0);
    }
    .main-content {
      justify-content: space-between;
    }

    .navbar-toggle {
      margin-right: 0;
    }
    .navbar-toggle .icon-bar {
      background: #ff9600;
    }
    .navbar-toggle:hover {
      background: transparent !important;
    }

    .navbar-toggle .icon-bar {
      width: 22px;
      transition: all 0.2s;
    }
    .navbar-toggle .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%;
    }
    .navbar-toggle .middle-bar {
      opacity: 0;
    }

    .navbar-toggle .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%;
    }

    .navbar-toggle.collapsed .top-bar {
      transform: rotate(0);
    }

    .navbar-toggle.collapsed .middle-bar {
      opacity: 1;
    }

    .navbar-toggle.collapsed .bottom-bar {
      transform: rotate(0);
    }
  }

  .logo {
    width: 180px;
    height: 52px;
    cursor: pointer;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .breadcrumd {
    font-size: 12px;
    padding: 20px 25px 20px;
    background-image: linear-gradient(to top, transparent, #fff);
    p {
      a {
        color: transparentize($purple, .6);
      }
      .you-here {
        color: $light-purple;
      }
    }
  }
  .search-block {
    padding: 0 25px 30px;
    .search {
      width: 170px;
      height: 30px;
      border: 1px solid #FFCC88;
      border-radius: 5px;
      background-image: url(../svg/search-bg.svg);
      background-repeat: no-repeat;
      background-size: 15px;
      background-position: 5px center;
      padding: 0 5px;
      &:focus {
        background-image: none;
      }
    }
  }

  .main-content {
    max-width: 1770px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .menu {
      ul {
        li {
          &:hover {
            &:after {
              display: block;
              content: '';
              height: 2px;
              width: 80%;
              margin: auto;
              position: absolute;
              background-color: $orange;
            }
            a {
              padding-bottom: 15px;
            }
            ul {
              background-color: rgba(206, 206, 206, 0.55);
              border: none;
              box-shadow: 0 3px 11px -1px rgba(0, 0, 0, 0.175);
              li {
                padding: 15px 0 0 0;
                margin: 0;
                transition: 0.2s;

                a, a:hover {
                  color: $white;
                  font-family: GothamProRegular;
                }
                &:hover {
                  background-color: rgba(131, 81, 127, 0.77);
                  &:after {
                    display: none;
                  }
                }
              }
            }
          }
        }

        .open {
          .custom-caret {
            transform: rotate(-180deg);
            transition: 0.2s;
          }
          a {
            padding-bottom: 15px;
          }
          ul {
            background-color: rgba(206, 206, 206, 0.55);
            border: none;
            box-shadow: 0 3px 11px -1px rgba(0, 0, 0, 0.175);
            li {
              padding: 15px 0 0 0;
              margin: 0;
              transition: 0.2s;

              a, a:hover {
                color: $white;
                font-family: "GothamProRegular";
              }
              &:hover {
                background-color: rgba(131, 81, 127, 0.77);

                &:after {
                  display: none;
                }
              }
            }
          }
        }
      }
      a {
        font-family: "IntroRustG";
        font-size: 1.55rem;
        color: $light-orange;
        transition: 0.2s;
      }
      a:hover, a:focus {
        color: $light-orange;
        transition: 0.2s;
        background-color: transparent;
      }

      .active a {
        color: $purple;
      }
      .custom-caret {
        transition: 0.2s;
        max-width: 12px;
        vertical-align: middle;
        padding: 6px 0;
        position: relative;
        left: 3px;
      }
    }
    p {
      margin: 0;
    }

    a {
      color: $light-orange;
      font-family: "GothamProRegular";
    }
    .decor-line {
      width: 150px;
      height: 718px;
      background-color: transparentize($orange, .33);
      position: absolute;
      top: 0;
      left: 297px;
      display: none;
      &:before {
        content: '';
        display: block;
        width: 0px;
        background-color: $orange;
        box-shadow: 0 0 0 6px $orange;
        height: 215px;
        float: left;
        top: 360px;
        position: relative;
      }
    }
    .group {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      max-width: 500px;
      justify-content: space-between;
      left: 50px;
      position: relative;
      .call-number {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.8rem;
        font-weight: 800;
        padding-bottom: 6px;
        max-width: 200px;
        justify-content: flex-end;
        a {
          transition: 0.2s;
          &:hover, &:focus {
            color: $light-orange;
            text-decoration: none;
            text-shadow: 0 0 1px #FF9600;
          }
        }
      }

      .city {
        padding-bottom: 10px;
        padding-left: 13px;
        width: 150px;
        .point {
          height: 30px;
          float: left;
          position: relative;
          top: 5px;
          right: 10px;
        }
        .custom-caret {
          max-width: 10px;
          transition: 0.2s;
        }
        label {
          margin: 0;
          color: #B3B8B3;
        }

        .select {
          background-color: transparent;
          border: none;
          font-family: "IntroRustG";
          padding: 0;
          color: $white;
          color: $orange;
        }
        .open {
          .select {
            .custom-caret {
              transform: rotate(-180deg);
              transition: 0.2s;
            }
          }
        }
      }
    }

  }

  /*---------- primary page-container ----------*/
  .block-page-container {
    display: flex;
    justify-content: space-between;
    /*---------- left-sidebar ----------*/

    .left-sidebar-button {
      display: none;
    }
    .left-sidebar {
      max-width: 342px;
      width: 100vw;
      float: left;
      overflow-y: scroll;
      background-color: transparentize($gray, .9);
      margin-top: 5px;
      top: 178px;
      position: fixed;
      bottom: 50px;
      ul {
        padding: 0 15px 0 65px;
        li {
          font-size: 18px;
          color: $orange;
          font-family: "GothamProBold";
          list-style: none;
          padding: 5px 0;
          a {
            color: inherit;
          }
          ul {
            padding: 0;
            li {
              font-family: "GothamProRegular";
              font-size: 14px;
              a {
                color: #989B98;
              }
            }
            .active {
              a {
                color: $orange;
                text-decoration: underline;
              }
            }

          }
        }
      }
    }

    .left-sidebar > ul > li:after {
      display: block;
      content: '';
      height: 1px;
      background-color: rgba(152, 155, 152, 0.3);
      width: 110px;
      top: 5px;
      right: 65px;
      position: relative;
    }

    /*---------- end left-sidebar ----------*/

    .content-block {
      padding: 158px 70px 0;
      max-width: 1170px;
      width: 100%;
      bottom: 43px;
      position: relative;
      margin-left: 351px;
      .page-title {
        font-size: 18px;
        font-family: "IntroRustG";
        color: purple;
        text-align: center;
      }
      .title {
        font-size: 25px;
        font-family: "GothamProBold";
        color: $light-orange;
      }
      .content {
        padding: 15px 0 15px 60px;
        .img-block {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          padding: 5px 0 20px;
          overflow: hidden;
          .image {
            justify-content: center;
            display: flex;
            overflow: hidden;
          }
        }

      }

    }

    /*---------- right-sidebar ----------*/
    .right-sidebar {
      max-width: 372px;
      width: 100vw;
      float: right;
      overflow: hidden;
      padding-right: 50px;
      padding-top: 225px;
      position: relative;
      bottom: 50px;
      .title {
        font-family: "GothamProBold";
        font-size: 16px;
        &:after {
          content: '';
          display: block;
          height: 1px;
          width: 380px;
          background-color: rgba(152, 155, 152, 0.4);
          position: relative;
          top: 10px;
        }
      }
      ul {
        font-family: "GothamProBold";
        font-size: 18px;
        padding: 0;
        li {
          list-style: none;
          line-height: 18px;
          padding: 10px 0;
          a {
            color: #989B98;
            transition: 0.2s;
          }
          &:hover {
            a {
              color: transparentize($dark-gray, .3);
              text-decoration: none;
            }
          }
        }
        .active {
          a {
            color: $dark-gray;
          }
          &:hover {
            a {
              color: inherit;
            }
          }
        }
      }
    }



    /*---------- end right-sidebar ----------*/
  }
  .article-categories {
    max-width: 1000px;
    margin: auto;
    .bottom-menu {
      float: left;
      width: 100%;
      ul {
        padding: 15px 0 30px;
        li {
          padding: 5px 25px 5px 0;
          transition: 0.2s;
          a {
            color: $light-orange;
            padding: 0;
            text-decoration: 0;
          }
          &:hover {
            a {
              color: $orange;
              text-decoration: underline;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
  ::-webkit-scrollbar-button {
    width: 5px;
    height: 0px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 5px;
    background-color: $gray;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: $light-orange;
  }

  ::-webkit-resizer {
    width: 4px;
    height: 0px;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  .page-questions {
    .content-block {
      .content {
        padding: 15px 0 15px 60px;
        .img-block {
          .image {
            max-width: 470px;
            width: 100%;
            max-height: 340px;
            height: 100vh;
          }
        }
      }
    }
  }

  .page-technology {
    .left-sidebar {
      ul {
        li {
          font-size: 25px;
          font-family: "IntroRustG";
        }
      }
    }
    .content-block {
      .img-block {
        .image {
          width: 580px;
          height: 340px;
        }
        .image-group {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .image {
            width: 370px;
            height: 220px;
          }
          .image-undergroup {
            display: flex;
            justify-content: space-between;
            .image {
              width: 175px;
              height: 100px;
            }
          }
        }
        img {
          height: fit-content;
        }
      }
    }
    .right-sidebar {
      .cell {
        margin: 30px 0;
        .image {
          width: 230px;
          height: 146px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          img {
            height: fit-content;
          }
        }
        .cell-title {
          padding: 5px 0;
        }
      }
    }
  }

  .page-contacts {
    .map-content {
      width: 100%;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      .map {
        min-height: 100vh;
        width: inherit;
      }
      .contacts {
        background-color: rgba(235, 237, 235, 0.8);
        padding: 15px 100px;
        height: inherit;
        position: absolute;
        width: 47%;
        top: 85px;
        bottom: 0;
        right: 0;
        .title {
          color: $purple;
          font-size: 18px;
          font-family: "IntroRustG";
        }
        .social-networks {
          padding: 15px 0 30px;
          .network {
            .insta {
              width: 13px;
            }
            .vk {
              width: 23px;
              margin-right: 15px;
            }
          }
        }
        .cells {
          display: flex;
          justify-content: space-between;
          max-width: 677px;
          flex-wrap: wrap;
          .cell {
            max-width: 225px;
            display: inline-block;
            margin: 15px 15px 15px 0;
            .cell-title {
              padding-bottom: 10px;
              .city {
                font-family: "GothamProBold";
                font-size: 18px;
                color: $orange;
              }
              .belt {
                color: #989B98;
                font-size: 12px;
              }
            }
            .info {

            }
          }
        }

        .copiright {
          font-size: 12px;
          font-family: "GothamProLightItalic";
          color: #585B58;
          position: absolute;
          bottom: 15px;
        }
      }
    }

  }
  .article-categories {
    .article-categories-title {
      font-family: "GothamProBold";
      font-size: 16px;
      color: $dark-gray;
    }
    .content {
      padding: 15px 0 15px 60px;
      ul {
        padding: 0;
        li {
          transition: 0.2s;
          list-style: none;
          a {
            text-decoration: underline;
            color: $light-purple;
          }
          &:hover {
            a {
              color: $purple;
            }
          }
        }
      }
    }
  }
  /*---------- end primary page-container ----------*/

  /*---------- footer ----------*/
  .footer {
    background-color: $dark-gray;
    padding: 15px;
    min-height: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    z-index: 2;
    .main-content {
      justify-content: space-between;
      margin: auto auto 0;

      .copiright {
        color: $white;
      }
      .company-development {
        color: $white;
        span {
          a {
            color: $orange;
            text-decoration: none;
            transition: 0.2s;
            &:hover {
              text-decoration: none;
              color: $orange;
              text-shadow: 0 0 2px $orange;
            }
          }
        }
      }
      .btn-scroll-to-top {
        height: 50px;
        width: 50px;
        border: none;
        border-radius: 100%;
        background-color: #fff;
        position: fixed;
        display: none;
        right: 15px;
        bottom: 7%;
        background-image: url(../svg/btn-scroll-to-top.svg);
        background-size: 80%;
        background-position: center;
        background-repeat: no-repeat;
        transform: rotate(-90deg);
        transition: 0.2s;
        opacity: 0;
        z-index: 5;
      }
    }
  }
  /*---------- end footer ----------*/

}

.pages {

  .page-projects {
    .main-content {
      .title {
        font-family: "IntroRustG";
        color: $purple;
        font-size: 18px;
      }
      .subtitle {
        font-size: 16px;
        color: #585B58;
        font-family: "GothamProBold";
        margin: 0;
      }
      .cells {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        padding-bottom: 35px;
        padding-top: 30px;
        .cell {
          max-width: 427px;
          margin-bottom: 45px;
          width: 100%;
          padding: 0 15px;
          .image {
            overflow: hidden;
            max-height: 294px;
          }
          .info {
            padding-top: 10px;
            .name {
              font-family: "GothamProBold";
              font-size: 16px;
              color: $dark-gray;
              padding-bottom: 5px;
              .process {
                max-width: 15px;
                margin-left: 5px;
              }
            }
            .city-year {
              color: #989B98;
              display: flex;
              justify-content: space-between;
              .photo-count {
                width: 50px;
                text-align: right;
                img {
                  max-width: 15px;
                }
              }
            }
          }
        }
      }
    }
    .search-block {
      display: none;
    }
    & > .block-content {
      padding-top: 20px !important;
    }
    & > .project-info-tabs {
      .main-content {
        .title {
          font-family: "IntroRustG";
          color: $purple;
          font-size: 18px;
        }
        .subtitle {
          font-size: 16px;
          color: #585B58;
          font-family: "GothamProBold";
          margin: 0;
        }
        .cells {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          width: 100%;
          padding-bottom: 35px;
          padding-top: 30px;
          .cell {
            max-width: 427px;
            margin-bottom: 45px;
            width: 100%;
            padding: 0 15px;
            .image {
              overflow: hidden;
              max-height: 294px;
            }
            .info {
              padding-top: 10px;
              .name {
                font-family: "GothamProBold";
                font-size: 16px;
                color: $dark-gray;
                padding-bottom: 5px;
                .process {
                  max-width: 15px;
                  margin-left: 5px;
                }
              }
              .city-year {
                color: #989B98;
                display: flex;
                justify-content: space-between;
                .photo-count {
                  width: 50px;
                  text-align: right;
                  img {
                    max-width: 15px;
                  }
                }
              }
            }
          }
        }
      }
    }

    .sorting-block {
      &:after {
        content: '';
        display: block;
        height: 1px;
        width: 100%;
        background-color: $light-orange;
      }
      .sorting {
        font-size: 18px;
        text-decoration: none;
        color: $dark-gray;
        padding: 0 65px;
        margin: 20px 0;
        display: block;
        max-width: 262px;
        max-height: 30px;
        justify-content: space-between;
        display: flex;
        align-items: center;
        .custom-caret {
          max-width: 16px;
          transition: 0.2s;
        }
      }
      .collapsed {
        .custom-caret {
          transform: rotate(180deg);
        }
      }
      .block-filter {
        padding: 0 65px;
        width: 100%;
        .filter {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          max-width: 875px;
          width: 100%;
          align-items: flex-end;
          .group-dropdown {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 700px;
            width: 100%;
            label {
              font-family: "GothamProRegular";
              color: #585B58;
            }
            .select {
              background: transparent;
              border: 1px solid #B3B8B3;
              border-radius: 3px;
              width: 160px;
              height: 30px;
              font-family: "GothamProRegular";
              font-size: 12px;
              color: #B3B8B3;
              padding: 0 15px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              transition: 0.2s;
              &:hover {
                color: $orange;
                border-color: $light-orange;
              }
              .custom-caret {
                max-width: 12px;
                transform: rotate(180deg);
                transition: 0.2s;
              }
              p {
                margin: 0;
              }
            }
            .open {
              .select {
                color: $orange;
                border-color: $light-orange;
                .custom-caret {
                  transform: rotate(0);
                }
              }
            }
          }

          .clear {
            background-color: transparent;
            border: none;
            height: 30px;
            width: 100px;
            background-image: url("../svg/clear-cross.svg");
            background-position: right;
            background-repeat: no-repeat;
            background-size: 18px;
            text-align: left;
            color: rgba(179, 184, 179, 0.6);
            font-size: 15px;
            transition: 0.2s;
            &:hover {
              color: $orange;
            }
          }
        }
      }
    }
  }
}

.page-project-detail {
  padding-bottom: 60px;
  .project-detail-page-header {
    background-image: url("../img/system/left-grad.png"), url("../img/system/right-grad.png"), url("../img/system/detail-head-bg.jpg");
    background-repeat: no-repeat;
    background-position: left, right, center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 440px;
    height: 100vh;
    align-items: center;
    padding: 0 65px;
    position: relative;
    .header {
      background-color: rgba(35, 35, 35, 0.2) !important;
    }
    .breadcrumd {
      background: none;
    }
    .search-block {
      display: none;
    }
    .block-name {
      color: $white;
      text-align: center;
      .title {
        font-size: 65px;
        font-family: "GothamProBold";
      }
      .subtitle {
        font-family: "GothamProRegular";
        font-size: 16px;
      }
    }
    .next, .prev {
      background-color: transparent;
      border: none;
      color: $white;
      transition: 0.2s;
      display: flex;
      width: 150px;
      align-items: center;
      justify-content: space-between;
      opacity: 0.3;
      img {
        max-width: 18px;
      }
      &:hover {
        opacity: 1;
      }
    }
    .next {
      img {
        transform: rotate(180deg);
      }
    }
  }

  .project-info-detail {
    padding-left: 65px;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    .project {
      max-width: 570px;
      padding-bottom: 30px;
      width: 100%;
      .slick-slide {
        border-radius: 3px;
      }
    }
    .info-project {
      max-width: 470px;
      padding-right: 17px;
      p {
        display: table;
        font-family: "GothamProRegular";
        color: $dark-gray;
        font-size: 14px;
        .parametr {
          width: 200px;
          color: #989B98;
          font-size: 12px;
        }
        span {
          display: table-cell;
        }
      }

    }
    .info-project-tabs {
      max-width: 742px;
      width: 100%;
      .sell {
        color: $orange;
        font-size: 20px;
        span {
          font-size: 28px;
          font-family: "gothamprobold";
          color: $dark-gray;
        }
      }
      .navs {
        li {
          float: left;
          a {
            border: 1px solid #FF9600;
            color: #FF9600;
            font-size: 12px;
            padding: 10px 45px;
            margin: 0;
          }
        }
        .active {
          a {
            background-color: $orange;
            color: $white;
            &:after {
              display: none;
            }
          }
        }
      }
      .tabs {
        background-color: rgba(255, 204, 136, 0.25);
        .tab-pane {
          padding: 35px 25px 55px;
        }
      }
    }
  }

  .slider-project {
    max-height: 570px;
    margin-bottom: 20px;
    img {
      width: 100%;
    }
    div {
      .title-project {
        position: absolute;
        bottom: 0;
        right: 0;
        color: #fff;
        padding: 0 15px;
      }
    }
  }

  .slider-navs {
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: relative;
    .prev, .next {
      position: absolute;
      z-index: 1;
      background-color: transparent;
      border: 0;
      background-image: url("../svg/bnt-next-prev.svg");
      width: 12px;
      height: 20px;
      opacity: 0.6;
      transition: 0.2s;
      &:hover {
        opacity: 1;
      }
    }
    .prev {
      left: 10px;
    }
    .next {
      right: 10px;
      transform: rotate(180deg);
    }
  }

  .slider-navs {
    .slider-project-nav {
      max-width: 570px;
      width: 100%;
      .slick-track {
        display: flex;
        justify-content: space-between;
        max-width: 570px;
        width: 100%;
        &:after, &:before {
          display: none;
        }
        .slick-slide {
          max-width: 106px;
          img {
            max-width: 100%;
          }
        }
      }
    }
  }

  .project-info-tabs {
    .navs {
      .nav-tabs {
        border-bottom: 1px solid $light-orange;
        text-align: center;
        li {
          display: inline-block;
          float: none;
          a {
            color: inherit;
          }
          &:hover {
            a {
              background-color: transparent;
              border-color: transparent;
            }
          }
        }
        .active {
          a {
            background-color: transparent;
            border: none;
            font-family: "GothamProBold";
            &:after {
              content: '';
              display: block;
              position: relative;
              width: 100%;
              background-color: $orange;
              height: 3px;
              top: 11px;
            }
          }
        }
      }
    }
    .tabs {
      .tab-content {
        width: 100%;
        .tab-pane {
          .info-desk {
            background-color: rgba(255, 204, 136, 0.25);
            padding: 35px 0;
            p {
              display: table;
              max-width: 500px;
              width: 100%;
              margin: 0 auto 10px;
              span {
                display: table-cell;
              }
              .parametr {
                width: 250px;
                text-align: right;
                padding-right: 30px;
              }
            }
          }
          .block-order {
            padding-bottom: 170px;
            .title {
              font-size: 18px;
              color: $light-purple;
              text-align: center;
              font-family: gothamproregular;
              line-height: 25px;
            }
            .dropdown {
              display: inline-block;
              .select {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 180px;
                height: 30px;
                border-radius: 3px;
                border: 1px solid #B3B8B3;
                background-color: transparent;
                font-size: 12px;
                font-family: "gothamproregular";
                margin: 10px 5px;
              }
            }
            input {
              width: 160px;
              height: 30px;
              border-radius: 3px;
              border: 1px solid #B3B8B3;
              padding: 0 10px;
              margin: 10px 5px;
            }
            input::-webkit-input-placeholder {
              opacity: 1;
              transition: 0.2s;
              color: #B3B8B3;
            }
            input:focus::-webkit-input-placeholder {
              opacity: 0;
            }
            .btn-purple {
              font-size: 12px;
              max-width: 160px;
              height: 30px;
              background-color: $light-purple;
              margin: 10px 0;
            }
          }
          .block-floor-info {
            text-align: center;
            .cell {
              display: inline-block;
              margin: 15px;
              p {
                text-align: left;
                span {
                  width: 150px;
                  display: inline-block;
                }
              }
              .image {
                max-width: 436px;
                max-height: 300px;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
    .cells-other {
      display: flex;
      justify-content: space-between;
      .cell {
        max-width: 255px;
        text-align: center;
        color: $dark-purple;
        img {
          width: 58px;
          height: 81px;
        }
        .title {
          font-size: 30px;
          font-family: "GothamProBold";
        }
        .info {
          font-size: 16px;
          font-family: "GothamProRegular";
          strong {
            font-family: "GothamProBold";
            font-size: 23px;
          }
        }
      }
    }
  }
  .bottom-menu {
    padding: 0 0 0 60px;
  }
}

.page-catalog {
  padding-top: 100px;
  .search-block {
    display: none;
  }
  .title {
    font-size: 18px;
    font-family: "IntroRustG";
    color: purple;
  }
  .subtitle {
    font-size: 16px;
    font-family: "GothamProRegular";
    color: #585B58;
  }
  .left-sidebar-container {
    .left-sidebar-button {
      display: none;
    }
    .left-sidebar {
      max-width: 342px;
      padding: 0 75px 0 55px;
      float: left;
      position: relative;
      width: 100%;
      overflow-y: auto;
      .title {
        color: $dark-gray;
        font-family: "GothamProBold";
        font-size: 18px;
      }
      .block-filter {
        margin: 15px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .title {
          color: #585B58;
          font-size: 14px;
          font-family: "GothamProRegular";
          width: 100%;
          margin: 0;
        }

        .noUi-horizontal {
          width: 100%;
          height: 1px !important;
          background: #989B98;
          border: none;
          margin: 10px 0 15px;
          .noUi-base {
            .noUi-handle {
              width: 7px;
              height: 7px;
              background: $orange;
              box-shadow: none;
              border-radius: 100%;
              top: -3px;
              left: 0;
              outline: none;
              cursor: pointer;
              &:before, &:after {
                display: none;
              }
            }
            .noUi-connect {
              background: $orange;
              box-shadow: none;
            }
          }
        }

        & > img {
          max-width: 13px;
          padding-top: 9px;
        }
        p {
          width: 100%;
          font-family: "GothamProMediumItalic";
          color: #989B98;
          font-size: 12px;
        }
        label {
          display: block;
          color: #B3B8B3;
          font-size: 12px;
          font-family: "GothamProRegular";
        }
        input {
          max-width: 90px;
          height: 30px;
          border-radius: 2px;
          border: 1px solid #B3B8B3;
          font-family: "GothamProRegular";
          font-size: 12px;
          color: $dark-gray;
          padding: 0 10px;
          transition: 0.2s;
          &:focus {
            border-color: $orange;
            color: $orange;
          }
        }
        &:before {
          display: block;
          content: "";
          height: 1px;
          background-color: rgba(152, 154, 152, 0.3);
          width: 114px;
          bottom: 5px;
          right: 65px;
          position: relative;
        }
      }
      .area {
        input {
          max-width: 70px;
        }
      }
      .floors {
        .form-group {
          width: 100%;
          & > div {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .radio {
              display: none;
            }

            label {
              cursor: pointer;
              font-weight: normal;
              margin-bottom: 0;
              display: flex;
              align-items: center;
              .list {
                width: 7px;
                height: 7px;
                transition: 0.2s;
                display: flex;
                justify-content: center;
                align-items: center;
                div {
                  width: 5px;
                  height: 5px;
                  background-color: #B3B8B3;
                  border-radius: 100%;
                }
              }
              &:hover {
                .list {
                  div {
                    background-color: $dark-gray;
                  }
                }
                .radio-name {
                  color: $dark-gray;
                }
              }
            }

            .radio-name {
              color: #B3B8B3;
              font-size: 12px;
              font-family: "GothamProRegular";
              padding: 5px;
              display: inline-block;
              text-align: center;
              background: transparent;
              transition: .2s;
            }

            .radio:checked ~ .radio-name {
              color: $orange;
            }
            .radio:checked ~ .list {
              div {
                background-color: $orange;
                width: 7px;
                height: 7px;
              }
            }
          }
        }
      }
      .sort {
        .dropdown {
          width: 100%;
          .select {
            width: 100%;
            background-color: transparent;
            border: 1px solid #B3B8B3;
            color: #585B58;
            font-size: 12px;
            font-family: "GothamProRegular";
            border-radius: 2px;
            height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            img {
              transition: 0.2s;
              max-height: 8px;
            }
          }
          .dropdown-menu {
            width: 100%;
          }
        }
        .open {
          .select {
            img {
              transform: rotate(-180deg);
            }
          }
        }
      }
      .planir {
        .form-group {
          .checkbox {
            display: none !important;
          }

          .label-checkbox {
            font-size: 14px;
            color: #B3B8B3;
            font-family: "GothamProRegular";
            width: auto !important;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
          }

          .checkbox[type="checkbox"] + span {
            display: inline-block;
            width: 15px;
            height: 13px;
            background: url("../svg/checkbox.svg") no-repeat;
            opacity: .4;
            vertical-align: middle;
            margin-right: 10px;
          }

          .checkbox[type="checkbox"]:hover + span {
            opacity: 1;
          }

          .checkbox[type="checkbox"]:checked + span {
            background: url("../svg/checkbox-cheched.svg") no-repeat;
            opacity: 1;
            color: $orange;
            width: 15px;
          }

          div {
            display: flex;
            align-items: center;
            input {
              margin-right: 15px;
            }
            label {
              font-family: "GothamProRegular";
              font-size: 14px;
              color: #B3B8B3;
              font-weight: 400;
              transition: 0.2s;
              margin-bottom: 10px;
              &:hover {
                color: $dark-gray;
              }
            }
          }
        }
      }
    }
  }

  .catalog-content {
    max-width: 1470px;
    width: 100%;
    display: block;
    float: right;
    padding: 0 15px;
    .catalog-cells {
      .cell {
        max-width: 427px;
        width: 100%;
        display: inline-block;
        margin: 25px 10px;
        .image {
          overflow: hidden;
          display: flex;
          justify-content: center;
          position: relative;
          align-items: center;
          max-height: 294px;
          div {
            position: absolute;
            background-color: rgba(255, 183, 79, 0.8);
            opacity: 0;
            transition: 0.2s;
            p {
              color: $white;
              font-family: "GothamProBold";
              margin: 17px -71px;
              transition: 0.2s;
            }
          }
        }
        .info-block {
          .icons {
            min-height: 40px;
            background-color: #B3B8B3;
            display: flex;
            align-items: center;
            color: $white;
            transition: 0.2s;
            div {
              padding: 0 15px;
              img {
                max-width: 21px;
                max-height: 18px;
                width: 100%;
                margin: 0 5px 0 0;
              }
            }

          }
          .title {
            font-size: 16px;
            font-family: "gothamprobold";
            color: $dark-gray;
            margin: 10px 0 0;
          }
          .description {
            color: #989B98;
            font-size: 12px;
            font-family: "GothamProRegular";
          }
        }
        &:hover {
          .image {
            div {
              opacity: 1;
              p {
                margin: 17px -33px;
              }
            }
          }
          .info-block {
            .icons {
              background-color: #FFB74F;
            }
          }
        }
      }
    }
  }

}