/* font-family: "IntroRustG"; */

@font-face {
  font-family: "IntroRustG";
  src: url("../fonts/IntroRustG-Base.otf");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "GothamProItalic"; */

@font-face {
  font-family: "GothamProItalic";
  src: url("../fonts/GothamProItalic.ttf");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "GothamProLightItalic"; */

@font-face {
  font-family: "GothamProLightItalic";
  src: url("../fonts/GothamProLightItalic.ttf");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "GothamProRegular"; */

@font-face {
  font-family: "GothamProRegular";
  src: url("../fonts/GothamProRegular.ttf");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "GothamProMediumItalic"; */

@font-face {
  font-family: "GothamProMediumItalic";
  src: url("../fonts/GothamProMediumItalic.ttf");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "GothamProBold"; */

@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamProBold.ttf");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "GothamProBoldItalic"; */

@font-face {
  font-family: "GothamProBolditalic";
  src: url("../fonts/GothamProBoldItalic.ttf");
  font-style: normal;
  font-weight: normal;
}

$white: #FFFFFF;
$dark-gray: #232323;
$orange: #FF9600;
$purple: #810C74;

.pages {
  margin: 0;
  .page-services {
    font-family: "GothamProRegular";
    padding: 0 15px;
    .block-one {
      .page-title {
        font-family: "IntroRustG";
        font-size: 18px;
        color: $purple;
      }
      .services-navigation {
        padding: 30px 0;
        ul {
          padding: 0;
          max-width: 900px;
          margin: auto;
          li {
            font-size: 18px;
            list-style: none;
            display: inline-block;
            padding: 7px 12px;
            a {
              color: #FFB74F;
            }
          }
          .active {
            a {
              color: $orange;
            }
          }
        }
      }
      .navs {
        width: 100px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        .btn-prev, .btn-next {
          background-color: transparent;
          border: none;
          height: 35px;
          width: 33px;
          opacity: 0.7;
          transition: 0.2s;
          img {
            height: 100%;
          }
          &:hover {
            opacity: 1;
          }
        }
        .btn-prev {
          img {
            transform: rotate(180deg);
          }
        }
      }
      .service-title {
        text-align: center;
        font-size: 32px;
        font-family: "IntroRustG";
        color: $purple;
        padding: 20px 0;
      }
      .service-text {
        text-align: center;
        max-width: 1370px;
        margin: auto;
        font-size: 18px;
      }
      .projects-title {
        text-align: center;
        font-size: 25px;
        font-family: "GothamProBold";
        color: #A34E9A;
        padding: 15px 0;
      }
      .owl-carousel {
        .owl-dots {
          .owl-dot {
            span {
              background-color: #B3B8B3;
              width: 9px;
              height: 9px;
            }
          }
          .active {
            span {
              width: 12px;
              height: 12px;
              background-color: $purple;
              position: relative;
              top: 2px;
            }
          }
        }
        .item {
          margin-bottom: 20px;
          .cells {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            max-width: 1770px;
            margin: auto;
            .cell {
              max-width: 432px;
              max-height: 297px;
              display: flex;
              justify-content: center;
              overflow: hidden;
              margin: 10px 0;
            }
          }
        }
      }
    }
  }

  .block-two {
    .block-title {
      font-size: 25px;
      font-family: "GothamProBold";
      text-align: center;
      color: #A34E9A;
      padding: 25px 0 15px;
    }

    .cells {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1680px;
      margin: auto;
      .cell {
        max-width: 344px;
        width: 100%;
        text-align: center;
        margin: 30px 35px;
        .image {
          width: 170px;
          height: 170px;
          margin: auto;
        }
        .title {
          font-size: 25px;
          color: $dark-gray;
          font-family: "IntroRustG";
          margin: 25px 0 10px;
        }
        .description {
          font-size: 18px;
          color: #585B58;
        }
      }
    }
    .desk {
      display: flex;
      flex-wrap: wrap;
      max-width: 1370px;
      margin: auto;
      justify-content: space-between;
      .left-column, .right-column {
        max-width: 647px;
        padding: 25px 0;
        p {
          text-align: justify;
          font-size: 18px;
        }
      }

    }
  }

  .block-three {
    padding: 35px 0 80px;
    background-image: linear-gradient(to top, rgba(51, 4, 47, 0.63), rgba(51, 4, 47, 0.63)), url("../img/system/services-block-three-bg-100.jpg");
    .block-title {
      text-align: center;
      font-size: 25px;
      font-family: "GothamProBold";
      color: $white;
    }
    .desk {
      max-width: 1386px;
      margin: auto;
      .nav-tabs {
        border-bottom: 3px solid $orange;
        display: flex;
        justify-content: center;
        li {
          font-size: 20px;
          padding-bottom: 15px;
          a {
            color: $white;
            border: none;
            transition: 0.2s;
          }
          &:hover {
            a {
              color: $orange;
              background-color: transparent;
            }
          }
        }
        .active {
          font-family: "GothamProBold";
          background-image: url("../svg/active-nav-services.svg");
          background-repeat: no-repeat;
          background-position: center bottom;
          background-size: 26px;
          a {
            color: $orange;
            background-color: transparent;
          }
        }
      }
      .tabs {
        background-color: $white;
        padding: 60px;
        min-height: 500px;
        .tab-content {
          .tab-pane {
            .content {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              .left-column {
                max-width: 428px;
                width: 100%;
                padding-top: 65px;
                .image {
                  img {
                    max-width: 100%;
                  }
                }
              }
              .right-column {
                max-width: 730px;
                width: 100%;
                ul {
                  padding-left: 0;
                  li {
                    margin-left: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .block-fourth {
    padding: 50px 0;
    p {
      font-size: 18px;
      max-width: 1386px;
      text-align: center;
      margin: auto;
    }
  }

}