/* font-family: "IntroRustG"; */

@font-face {
  font-family: "IntroRustG";
  src: url("../fonts/IntroRustG-Base.otf");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "GothamProItalic"; */

@font-face {
  font-family: "GothamProItalic";
  src: url("../fonts/GothamProItalic.ttf");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "GothamProLightItalic"; */

@font-face {
  font-family: "GothamProLightItalic";
  src: url("../fonts/GothamProLightItalic.ttf");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "GothamProRegular"; */

@font-face {
  font-family: "GothamProRegular";
  src: url("../fonts/GothamProRegular.ttf");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "GothamProMediumItalic"; */

@font-face {
  font-family: "GothamProMediumItalic";
  src: url("../fonts/GothamProMediumItalic.ttf");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "GothamProBold"; */

@font-face {
  font-family: "GothamProBold";
  src: url("../fonts/GothamProBold.ttf");
  font-style: normal;
  font-weight: normal;
}

/* font-family: "GothamProBoldItalic"; */

@font-face {
  font-family: "GothamProBolditalic";
  src: url("../fonts/GothamProBoldItalic.ttf");
  font-style: normal;
  font-weight: normal;
}

$white: #FFFFFF;

.pages {
  margin: 0;
  .container-403 {
    background-image: url("../img/system/403-bg.jpg");
  }

  .container-404 {
    background-image: url("../img/system/404-bg.jpg");
    position: relative;
  }

  .container-403, .container-404 {
    height: 100vh;
    max-width: 100vw;
    padding: 0 65px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    .logo {
      width: 180px;
      height: 52px;
      cursor: pointer;
      img {
        max-width: 100%;
      }
    }
    .error-text {
      width: 100%;
      color: $white;
      position: relative;
      .error-code {
        position: relative;
        height: 95px;
        p {
          font-family: "IntroRustG";
          font-size: 260px;
          line-height: 0;
          position: absolute;
          margin: 0;
        }
      }
      p {
        font-family: "GothamProRegular";
        font-size: 41px;
        margin: 25px 0;
      }
    }
    .link-to-home {
      text-align: center;
      width: 100%;
      position: relative;
      bottom: 60px;
      z-index: 15;
      a {
        color: rgba(255, 255, 255, 0.72);
        font-family: "GothamProRegular";
        font-size: 25px;
      }
    }
    .header {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding-top: 15px;
    }
  }

  .container-404 {
    .header {
      position: relative;
      z-index: 12;
      span {
        color: $white;
        padding: 0 15px;
        font-size: 25px;
        font-family: gothamprobold;
        top: 3px;
        position: relative;
      }
    }
    .error-text {
      p {
        position: relative;
        z-index: 2;
      }
      .comet {
        position: absolute;
        display: block;
        top: 52px;
        left: -31px;
      }
    }
    .parallax {
      position: absolute;
      display: block;
      width: 100vw;
      height: 100vh;
      left: 0;
      right: 0;
      .home-1 {
        position: absolute;
        bottom: 0;
        right: 25%;
        z-index: 4;
        display: block;
        width: 225px;
        height: 248px;
      }
      .home-2 {
        position: absolute;
        top: 36%;
        right: 35%;
        z-index: 5;
        display: block;
        width: 389px;
        height: 373px;
      }
      .home-3 {
        position: absolute;
        right: 5%;
        top: 10%;
        z-index: 6;
        display: block;
        width: 471px;
        height: 496px;
      }
      .home-4 {
        position: absolute;
        top: -25%;
        left: 17%;
        z-index: 7;
        display: block;
        width: 710px;
        height: 688px;
      }
      .error-code {
        position: absolute;
        right: 0;
        left: 0;
        top: 7%;
        p {
          text-align: center;
          font-size: 200px;
          color: $white;
          font-family: "IntroRustG";
          position: relative;
        }

      }
      .planet {
        position: absolute;
        bottom: -285px;
        z-index: 3;
        display: block;
        left: 0;
        right: 0;
        img {
          display: block;
          margin: auto;
        }
      }
      .light {
        position: absolute;
        z-index: 2;
        display: block;
        left: 0;
        bottom: -310px;
        right: 0;
        img {
          display: block;
          margin: auto;
        }
      }
      .stars {
        position: absolute;
        z-index: 1;
      }
    }

  }
}